/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

h2 {
	color: #116189;
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 5px;
}

.body {
	background-color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.body p {
	margin-bottom: 1em;
}

.body img {
	margin-right: 1em;
}

.clear {
	clear: both;
}

.push-left {
	float: left;
}

.push-right {
	float: right;
}

.logo {
	font: 36px Boogaloo;
	color: #116189;
}

.motto {
	font-style: italic;
	font-size: 120%; 
}

.navbar {
	background-color: #D74710;
	border-radius: 5px;
	padding: 5px;
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}

.navbar a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-right: 1em;
}

.navbar a:hover {
	background-color: #FF9D45;
}

.name {
	font-weight: bold;
	color: #116189;
}

.footer {
	border-top: thin solid grey;
	clear: both;
}

.footer p {
	font-size: 80%;
	margin-top: 1em;
	margin-bottom: 1em;
	font-style: italic;
}
